// TODO: Host fonts locally with https://google-webfonts-helper.herokuapp.com/fonts

@font-face {
    font-family: "Source-sans-light";
    src: url("fonts/sourcesanspro-light-webfont.woff2");
}

@font-face {
    font-family: "Source-sans-regular";
    src: url("fonts/sourcesanspro-regular-webfont.woff2");
}

@font-face {
    font-family: "Source-sans-semibold";
    src: url("fonts/sourcesanspro-semibold-webfont.woff2");
}
@font-face {
    font-family: "Source-sans-bold";
    src: url("fonts/sourcesanspro-bold-webfont.woff2");
}
